<md-content layout-padding>
	<form>
		<md-input-container>
			<label for="name">Name</label>
			<input type="text" id="name" ng-model="product.name" md-autofocus>
		</md-input-container>
		<md-input-container>
			<label for="description">Description</label>
			<textarea type="text" id="description" ng-model="product.description"></textarea>
		</md-input-container>
		<md-input-container>
			<label for="price">Price</label>
			<input type="text" id="price" ng-model="product.price">
		</md-input-container>
		<md-input-container>
			<label for="image">Image Link</label>
			<input type="text" id="image" ng-model="product.image">
		</md-input-container>
		<md-select ng-model="product.category_id">
			<md-option ng-repeat="category in vm.categories" value="{{ category.category_id }}">
			{{ category.name }}</md-option>
		</md-select>

		<md-button class="md-warn" ng-click="vm.cancel()">
       		Cancel
      	</md-button>
      	<md-button class="md-primary" ng-click="vm.new(product)">
	        Save
      	</md-button>
	</form>
</md-content>