<md-dialog aria-label="New Product" class="dialog">
  	<form name="newForm" novalidate ng-cloak>
	    <md-toolbar>
	      	<div class="md-toolbar-tools">
	        	<h2>New Product</h2>
	        	<span flex></span>
	        	<md-button class="md-icon-button" ng-click="cancel()">
	          		<md-icon class="mdi mdi-close" aria-label="Close dialog"></md-icon>
	        	</md-button>
	      	</div>
	    </md-toolbar>

	    <md-dialog-content layout-padding>
	    	<div layout="row" class="md-block" layout-align="space-between center">
		    
		      	<md-input-container flex="45">
		      		<label for="name">Product Name</label>
		      		<input type="text" id="name" ng-model="product.name" 
		      			md-autofocus ng-required="true" ng-maxlength="100">
		      		<div ng-messages="newForm.name.$error" ng-show="newForm.name.$error.required" 
		      			md-auto-hide="false">
  		            	<div ng-message="required">
		      		    	Product name is required.
		      		    </div>
      		            <div ng-message="maxlength">
      		    			Description maximum length is 100.
      		    		</div>
		      		</div> 
		      	</md-input-container>

		      	<md-input-container flex="45">
	      			<label for="price">Price</label>
	      			<input type="number" id="price" ng-model="product.price" 
	      				ng-pattern="/^\d{0,9}(\.\d{1,9})?$/" required>
	      			<div ng-messages="newForm.price.$error">
  		            	<div ng-message="pattern">
		      		    	Invalid Number
		      		    </div>
  		            	<div ng-message="required">
		      		    	Price is required.
		      		    </div>
		      		</div> 
		      	</md-input-container>
	      	
	      	</div>

	      	<md-input-container class="md-block">
	      		<label for="description">Description</label>
	      		<input type="text" id="description" 
	      			ng-model="product.description" ng-maxlength="200" required>
	      		<div ng-messages="newForm.description.$error">
		            <div ng-message="required">
		  		    	Description is required.
		  		    </div>
		            <div ng-message="maxlength">
		  		    	Description maximum length is 200.
		  		    </div>
		  		</div>
	      	</md-input-container>
      		
      		<md-input-container class="md-block">
      			<label for="image">Image Link</label>
      			<input type="text" id="image" ng-model="product.image" required>
      			<div ng-messages="newForm.image.$error">
		            	<div ng-message="required">
	      		    	Image link is required.
	      		    </div>
	      		</div>
      		</md-input-container>
			
			<md-select ng-model="product.category_id" name="category" placeholder="Select a category" ng-required="true">
				<md-option ng-repeat="category in categories" value="{{ category.category_id }}">
					{{ category.name }}
				</md-option>
			</md-select>

    	</md-dialog-content>

	    <md-dialog-actions layout="row">
	      	<md-button class="md-raised md-warn" ng-click="cancel()">
	       		Cancel
	      	</md-button>
	      	<md-button type="submit" class="md-raised md-primary" ng-click="save(product)" ng-disabled="newForm.$invalid">
		        Save
	      	</md-button>
	   	</md-dialog-actions>
  	</form>
</md-dialog>

